wp-admin/
wp-includes/

wp-content/plugins/
wp-content/uploads/
wp-content/upgrade/
wp-content/mu-plugins/

wp-content/cache/
wp-content/backups/
wp-content/languages/
wp-content/advanced-cache.php
wp-content/debug.log
wp-content/wp-cache-config.php

.DS_Store
Thumbs.db

*.log
*.sql
*.sqlite

vendor/
composer.lock

node_modules/
npm-debug.log
yarn-error.log

.sass-cache/
*.css.map

à


dist/
build/

wp-config.php
.env
.env.local
.env.*.local

.gitignore
